@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header {
  position: relative;
  height: 100vh;
}

.header__slider {
  &-item {
    height: 100vh;
    background-image: url("../img/header-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;
  color: #FFFFFF;
  text-transform: uppercase;
}

.slider-item__info-title {

  font-weight: 800;
  font-size: 80px;
  line-height: 86px;
  margin-bottom: 48px;
}

.slider-item__info-subtitle {
  margin-bottom: 5px;
}

.slider-item__info-subtext {
  margin-bottom: 8px
}

.slider-item__info-text {
  /* Radical */
  font-weight: 800;
  font-size: 40px;
  line-height: 86px;
}

.slider-arrows {
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  z-index: 4;
}

.slider-arrows__left {
  right: 125px;
}

.dots-box {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 28px;
  align-items: center;
  border-top: 4px solid #FFFFFF;
  padding-top: 6px;

  &__number {
    font-weight: 800;
    line-height: 16px;
    font-size: 19px;
  }

  &__name {
    font-weight: 300;
    line-height: 19px;
  }
}

.slider-dots {
  position: absolute;
  right: 80px;
  max-width: 920px;
  bottom: 40px;
  width: 100%;
  color: #FFFFFF;

  .slick-current {
    .dots-box {
      border-top: 4px solid $green;
    }
  }
}

.header__aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border-right: 1px solid rgba(#ffff, .25);
  height: 100vh;
  text-align: center;
  color: #FFFFFF;
}

.header__title {
  font-size: 200px;
  line-height: 156px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.07;
  max-width: 467px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.menu {
  padding-top: 40px;
  a {
    color: #FFFFFF;

    span {
      display: block;
      text-align: center;
      line-height: 14px;
      font-weight: 500;
      letter-spacing: 3px;
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
}

.header__date {
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
  text-transform: uppercase;

  span {
    padding-top: 15px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    display: block;
  }
}
.header__search{
  padding-top: 15px;
  padding-bottom: 35px;
}

@import "media";
